# import library

In [3]:
from xlsxwriter import Workbook
import pandas as pd
import openpyxl
import glob
import os

# example Path : r'C:\Users\Ten\abann'

In [21]:
#path = input(" please enter path")

In [22]:
path='filestoimport'

In [23]:
path=path + "/*.xlsx"
path

'filestoimport/*.xlsx'

In [31]:
list_of_dfs = []
# append df to data in each for
data = []
# for in excel file
for filepath in glob.glob(path):
    xl = pd.ExcelFile(filepath)
 
 
# for in sheet of excel file
    for sheet_name in xl.sheet_names:
        df = xl.parse(sheet_name, usecols='A,D,N,B,C,E,F,G,H,I,J,K,L,M', header=0)
        df.columns = df.columns.str.replace(' ', '')
 
        df['sheetname'] = sheet_name  # this adds `sheet_name` into the column
         
        # using basename function from os
        # module to print file name
        file_name = os.path.basename(filepath)
        df['sourcefilename'] = file_name
        data.append(df)
        list_of_dfs.append([sheet_name,file_name])
       
    # Combine all DataFrames into one
        bigframe = pd.concat(data, ignore_index=True)

In [32]:
  list_of_dfs

[['Sheet1', 'Bill.xlsx'],
 ['File 1', 'Excelython_Files (1).xlsx'],
 ['File 2', 'Excelython_Files (1).xlsx'],
 ['File 3', 'Excelython_Files (1).xlsx'],
 ['File 4', 'Excelython_Files (1).xlsx'],
 ['File 5', 'Excelython_Files (1).xlsx'],
 ['File 6', 'Excelython_Files (1).xlsx'],
 ['File 1', 'Excelython_Files (2).xlsx'],
 ['File 2', 'Excelython_Files (2).xlsx'],
 ['File 3', 'Excelython_Files (2).xlsx'],
 ['File 4', 'Excelython_Files (2).xlsx'],
 ['File 5', 'Excelython_Files (2).xlsx'],
 ['File 6', 'Excelython_Files (2).xlsx'],
 ['File 1', 'Excelython_Files (3).xlsx'],
 ['File 2', 'Excelython_Files (3).xlsx'],
 ['File 3', 'Excelython_Files (3).xlsx'],
 ['File 4', 'Excelython_Files (3).xlsx'],
 ['File 5', 'Excelython_Files (3).xlsx'],
 ['File 6', 'Excelython_Files (3).xlsx'],
 ['File 1', 'Excelython_Files (4).xlsx'],
 ['File 2', 'Excelython_Files (4).xlsx'],
 ['File 3', 'Excelython_Files (4).xlsx'],
 ['File 4', 'Excelython_Files (4).xlsx'],
 ['File 5', 'Excelython_Files (4).xlsx'],
 ['File 6', 'Excelython_Files (4).xlsx'],
 ['File 1', 'Excelython_Files (5).xlsx'],
 ['File 2', 'Excelython_Files (5).xlsx'],
 ['File 3', 'Excelython_Files (5).xlsx'],
 ['File 4', 'Excelython_Files (5).xlsx'],
 ['File 5', 'Excelython_Files (5).xlsx'],
 ['File 6', 'Excelython_Files (5).xlsx'],
 ['File 1', 'Excelython_Files.xlsx'],
 ['File 2', 'Excelython_Files.xlsx'],
 ['File 3', 'Excelython_Files.xlsx'],
 ['File 4', 'Excelython_Files.xlsx'],
 ['File 5', 'Excelython_Files.xlsx'],
 ['File 6', 'Excelython_Files.xlsx'],
 ['fraud6', 'fraud6.xlsx'],
 ['Sheet1', 'Provider.xlsx'],
 ['افسانه', 'Provider.xlsx']]

In [34]:
bigframe.head()

,amount,providerID,billID,billPaymentID,referenceID,status,transactionID,sheetname,sourcefilename,SKU,...,Supplier,Unnamed:0,Amount,RefNo,Descriptions,billid,billpaymentid,ردیف,کد,موضوع
0,55300.0,P1,7.577310e+14,55306662.0,904582560070362,COMPLETED,3c3b7ad7-e6c6-47103-bbe3-bbbbb5e03af10,Sheet1,Bill.xlsx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2900.0,P1,9.501010e+15,2906668.0,076671051010270362,COMPLETED,fa910101094-c3102-4c68-10647-7d41064e10de88,Sheet1,Bill.xlsx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28900.0,P1,7.625460e+13,28906623.0,40802652621040362,COMPLETED,710774f3d-fe53-45d9-847f-e7310d9c46cac,Sheet1,Bill.xlsx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,88600.0,NaN,7.209109e+12,88606628.0,NaN,REQUESTED,dbddba4a-cbd4-44e0-10ec9-594a58e9fee9,Sheet1,Bill.xlsx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27600.0,NaN,9.540347e+11,276003108.0,NaN,REQUESTED,d4f86346-c502-4d76-a235-103bd92352634,Sheet1,Bill.xlsx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
bigframe.shape

(948029, 30)

# write in excel

In [36]:
bigframe.to_excel('bigframe.xlsx', sheet_name='bigframe')

# count rows of data source

In [39]:
bigframe_count=bigframe.groupby(['sourcefilename'])['sourcefilename'].count()
bigframe_count

sourcefilename
Bill.xlsx                     45101
Excelython_Files (1).xlsx    150000
Excelython_Files (2).xlsx    150000
Excelython_Files (3).xlsx    150000
Excelython_Files (4).xlsx    150000
Excelython_Files (5).xlsx    150000
Excelython_Files.xlsx        150000
Provider.xlsx                  2920
fraud6.xlsx                       8
Name: sourcefilename, dtype: int64

In [41]:
bigframe_count=bigframe.groupby(['sourcefilename','sheetname'])['sourcefilename'].count()
bigframe_count=pd.DataFrame(bigframe_count)
bigframe_count

                                     sourcefilename
sourcefilename            sheetname
Bill.xlsx                 Sheet1              45101
Excelython_Files (1).xlsx File 1              10000
                          File 2              10000
                          File 3             100000
                          File 4              10000
                          File 5              10000
                          File 6              10000
Excelython_Files (2).xlsx File 1              10000
                          File 2              10000
                          File 3             100000
                          File 4              10000
                          File 5              10000
                          File 6              10000
Excelython_Files (3).xlsx File 1              10000
                          File 2              10000
                          File 3             100000
                          File 4              10000
                          File 5              10000
                          File 6              10000
Excelython_Files (4).xlsx File 1              10000
                          File 2              10000
                          File 3             100000
                          File 4              10000
                          File 5              10000
                          File 6              10000
Excelython_Files (5).xlsx File 1              10000
                          File 2              10000
                          File 3             100000
                          File 4              10000
                          File 5              10000
                          File 6              10000
Excelython_Files.xlsx     File 1              10000
                          File 2              10000
                          File 3             100000
                          File 4              10000
                          File 5              10000
                          File 6              10000
Provider.xlsx             Sheet1               2919
                          افسانه                  1
fraud6.xlsx               fraud6                  8